html, body {
    height: 100%;
    font-family: sans-serif;
}

body {
    margin: 0;
}

.screen {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 7% 51% 10% 15% 17% / 20% 78%;
    grid-template-areas: "header header header" 
                         "sidebar cont cont"
                         "sidebar cont cont"
                         "sidebar cont cont"
                         "footer footer footer";
}

.screen > section[class='header'] {
    background-color: goldenrod;
    color: #ffffff;
    grid-area: header;
}


.screen > section[class='sidebar'] {
    background-color: whitesmoke;
    grid-area: sidebar;
}

section.sidebar > h3 {
    margin-top: 16.5%;
    padding-left: 9%;
    font-size: 1.5vw;
}

.screen > section[class='content'] {
    /* background-color: yellow; */
    grid-area: cont;
}

.screen > section[class='content'] h1, p {
    padding: 0 7%;
    line-height: 1.5;
}

.article-title {
    font-size: 2.5vw;
    margin-top: 3.5%;
    margin-bottom: 0.2%;
}

.screen > section[class='content'] p {
    padding-right: 22%;
    font-size: 1em;
}

.screen > section[class='content'] p:last-child {
    /* color: red; */
    /* padding-bottom: 15%; */
}

.screen > section[class='footer'] {
    grid-area: footer;
    background-color: #333;
    color: whitesmoke;
}


nav ul {
    /* padding-left: 10%; */
}

nav ul li {
    display: inline;
    list-style-type: none;
    padding: 0 3.8%;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section.sidebar ul {
    padding-left: 9.5%;
}

.other-articles li {
    padding-left: 0;
    list-style-type: none;
    padding-bottom: 4%;
}

.other-articles img {
    width: 22%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    section.sidebar {
        display: none;
    }
    
    .screen {
        grid-template: 7% 51% 10% 15% 17% / 20% 78%;
        grid-template-areas: "header header header" 
                             "cont cont cont"
                             "cont cont cont"
                             "cont cont cont"
                             "footer footer footer";
    }

    .article-title {
        font-size: 6vw;
    }
} 